<div class="lightbox" id="lightbox" aria-hidden="true">
    <div class="lightbox-backdrop"></div>
    <button class="lightbox-close" aria-label="Close">
        {{> "icons/close"}}
    </button>

    <div class="lightbox-content">
        <img class="lightbox-image" src="" alt="">
    </div>

    <div class="lightbox-bottom">
        <button class="lightbox-nav lightbox-prev" aria-label="Previous image">
            {{> "icons/chevron-left"}}
        </button>

        <span class="lightbox-title"></span>

        <button class="lightbox-nav lightbox-next" aria-label="Next image">
            {{> "icons/chevron-right"}}
        </button>
    </div>
</div>
